@{
  Layout = "_Layout";
}

@model SweetShop.Models.Flavor

<div class="viewContainer">
  <h2>Confirm delete of this flavor?</h2>

  <h4>@Html.DisplayFor(model => model.Name)</h4>
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" />
  }
  @Html.ActionLink("Back to List", "Index", null, null, new { @class = "btn btn-primary btn-large" })
</div>