@{
  Layout = "_Layout";
}
@using SweetShop.Models
@model IEnumerable<SweetShop.Models.Treat>

<div class="text-center viewContainer row">
    <h2>Welcome to Pierre's Tasty Treats!</h2>
    <!-- && ViewBag.Flavors.Count -->
    <div id="homeTreatsList" class="col-md-6 text-center">
        @if (Model.Any())
        {
            <h4>Today's treats: </h4>
                <ul>
                @foreach (Treat treat in Model)
                {
                    <li>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId }, new { @class = "btn btn-light btn-sm align-self-center mx-auto"})</li>
                }
                </ul>
        }
        else 
        {
            <h4>Today's treats:</h4>
            <p>No treats currently availiable...</p>
        }
    </div>

    <div id="homeFlavorsList" class="col-md-6">
        @if (ViewBag.Flavors.Count != 0 )
        {
            <h4>Flavors:</h4>
            <ul>
                @foreach (Flavor flavor in ViewBag.Flavors)
                {
                    <li>@Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new { id = flavor.FlavorId}, new { @class = "btn btn-light btn-sm align-self-center mx-auto"})</li>
                }
            </ul>
        }
        else
        {
            <h4>Flavors</h4>
            <p>No flavors have been created!</p>
        }
    </div>

    <div>
        @if (!Model.Any() && ViewBag.Flavors.Count == 0)
        {
            <h5>Login to add confections!</h5>
        }
    </div>
    
</div>
